<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="LocalSqlServer1" connectionString="Data source=.;Initial Catalog=GTraceSH;User ID=sa;Password=123456;pooling=true;min pool size=10;max pool size=100;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
